<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gr8Math"
        android:usesCleartextTraffic="true">

        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".AppLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".RegisterRoleActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".TeacherRegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".PasswordCreationActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <!-- Forgot Password Activity -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <!-- Account Management Activity -->
        <activity
            android:name=".AccountManagementActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math">

        </activity>

        <!-- "SEE MORE" PAGE 1: ACTIVE ACCOUNTS -->
        <activity
            android:name=".ActiveAccountsListActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <!-- "SEE MORE" PAGE 2: ACCOUNT REQUESTS -->
        <activity
            android:name=".AccountRequestsListActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <!-- AddAccount -->
        <activity
            android:name=".AddAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <!-- STUDENT'S CLASS MANAGER-->
        <activity
            android:name=".StudentClassManagerActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math">

        </activity>

        <!-- TEACHER'S CLASS MANAGER -->
        <activity
            android:name=".TeacherClassManagerActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math">

        </activity>

        <!-- (NEW) STUDENT'S ADD CLASS PAGE (as a dialog) -->
        <activity
            android:name=".StudentAddClassActivity"
            android:exported="false"
            android:theme="@style/Theme.App.Dialog.Floating" />

        <!-- (NEW) TEACHER'S ADD CLASS PAGE (as a dialog) -->
        <activity
            android:name=".TeacherAddClassActivity"
            android:exported="false"
            android:theme="@style/Theme.App.Dialog.Floating" />

        <!-- (NEW) STUDENT'S CLASS PAGE -->
        <activity
            android:name=".StudentClassPageActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math" >

        </activity>

        <!-- (NEW) TEACHER'S CLASS PAGE -->
        <activity
            android:name=".TeacherClassPageActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math" >

        </activity>

        <activity
            android:name=".LessonContentActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".LessonDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".AssessmentCreatorActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".AssessmentDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".TakeAssessmentActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".AssessmentResultActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <!-- (NEW) NOTIFICATION PAGES -->
        <activity
            android:name=".TeacherNotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".StudentNotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".FacultyNotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <!-- (NEW) GRADES AND PARTICIPANTS PAGES -->
        <activity
            android:name=".TeacherParticipantsActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".StudentScoresActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".QuarterlyReportActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".StudentGradesActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <!-- (NEW) Badges PAGES -->
        <activity
            android:name=".StudentBadgesActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math" >

        </activity>

    </application>
</manifest>

