<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.Manifest.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_gr8_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_gr8_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gr8Math"
        android:usesCleartextTraffic="true">

        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".Activity.LoginAndRegister.AppLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math" />

        <!-- Register Activity -->
        <activity
            android:name=".Activity.LoginAndRegister.StudentRegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math"
            android:configChanges="orientation|screenSize|keyboardHidden"
            />

        <!-- Forgot Password Activity -->
        <activity
            android:name=".Activity.LoginAndRegister.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />


        <!-- AddAccount -->
        <activity
            android:name=".Activity.LoginAndRegister.TeacherRegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <!-- STUDENT'S CLASS MANAGER-->
        <activity
            android:name=".Activity.StudentModule.ClassManager.StudentClassManagerActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math">

        </activity>

        <!-- TEACHER'S CLASS MANAGER -->
        <activity
            android:name=".Activity.TeacherModule.ClassManager.TeacherClassManagerActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math">

        </activity>

        <!-- (NEW) STUDENT'S ADD CLASS PAGE (as a dialog) -->
        <activity
            android:name=".Activity.StudentModule.StudentAddClassActivity"
            android:exported="false"
            android:theme="@style/Theme.App.Dialog.Floating" />

        <!-- (NEW) TEACHER'S ADD CLASS PAGE (as a dialog) -->
        <activity
            android:name=".Activity.TeacherModule.ClassManager.TeacherAddClassActivity"
            android:exported="false"
            android:theme="@style/Theme.App.Dialog.Floating" />

        <!-- (NEW) STUDENT'S CLASS PAGE -->
        <activity
            android:name=".Activity.StudentModule.ClassManager.StudentClassPageActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math" >

        </activity>

        <!-- (NEW) TEACHER'S CLASS PAGE -->
        <activity
            android:name=".Activity.TeacherModule.ClassManager.TeacherClassPageActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math" >
        </activity>

        <activity
            android:name=".Activity.TeacherModule.Lesson.LessonContentActivity"
            android:exported="true" android:theme="@style/Theme.Gr8Math"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".Activity.TeacherModule.Lesson.LessonDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.TeacherModule.Assessment.AssessmentCreatorActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.StudentModule.Assessment.AssessmentDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.TakeAssessmentActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.StudentModule.Assessment.AssessmentResultActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <!-- (NEW) NOTIFICATION PAGES -->
        <activity
            android:name=".Activity.TeacherModule.Notification.TeacherNotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.StudentModule.Notification.StudentNotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />


        <!-- (NEW) GRADES AND PARTICIPANTS PAGES -->

        <activity
            android:name=".Activity.StudentModule.Participants.ParticipantProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.StudentModule.Profile.ProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math" >

        </activity>

        <activity
            android:name=".Activity.TeacherModule.Profile.TeacherProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math"  >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".Activity.StudentModule.Participants.StudentParticipantsActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.TeacherModule.Participants.TeacherParticipantsActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.TeacherModule.StudentScoresActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.StudentModule.Grades.MonthlyReportActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.StudentModule.Grades.StudentGradesActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <!-- (NEW) Badges PAGES -->
        <activity
            android:name=".Activity.StudentModule.Badges.StudentBadgesActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".Activity.LoginAndRegister.RegisterRoleActivity"
            android:exported="true"
            android:theme="@style/Theme.Gr8Math" />

        <!-- (NEW) DLL PAGES -->
        <activity
            android:name=".Activity.TeacherModule.DLL.DailyLessonLogActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.TeacherModule.DLL.DLLStep2Activity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.TeacherModule.DLL.DLLStep3Activity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.TeacherModule.DLL.DLLStep4Activity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.TeacherModule.DLL.DLLViewActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.TeacherModule.DLL.DLLEditActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".Activity.TermsAndConditionsActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <activity
            android:name=".Activity.TeacherModule.DLL.DLLViewActivityMain"
            android:exported="false"
            android:theme="@style/Theme.Gr8Math" />

        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



    </application>
</manifest>

